.cards{
    display: flex;
    align-items: center;
    width: 18rem;
    height: 10rem;
    border-radius: 10px;
    border: 2px solid gray;
    margin: 2rem;   
    padding: 1rem;
}
.titleCard{
 font-size: 1.5rem;
}
.BtnCardSeta{
    position: absolute;
    margin: 0 0 5rem 13rem;
}
.BtnCardSeta:hover{
    filter:brightness(87%);
}
.PrimeiraLinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SegundaLinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}