.ContainerDespesas{
    width: 15rem;
    height: 9rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    flex-direction: column;
}
.imagemDoCardCategoria{
    padding: 0;  
}
.nomeCategoria{
    font-size: 1.3rem;
    margin: 0.5rem 0 0 0 ;
}

.nomeImagemDespensa {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.btnTresOpt{
    padding: 0.1rem;
    margin-right: 0.9rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;  
    display: flex;
    justify-content: right;
    align-items: center;
}
.btnTresOpt:hover{
    filter: brightness(85%);   
}
.containerbtnMenu{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.containerbtncartDespensa{
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    position: fixed;
}
.ulDespensa{
    list-style: none;
    border-radius: 10px;
    background-color: rgba(70, 236, 156, 1);
    padding: 5px;
    position: relative;
    left: 11rem;
}
.itemsMenu{
    display: flex;
    gap:3px;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
.itemsMenu:hover{
    background-color:rgba(57, 196, 129, 1);
    border-radius: 10px;
}
.btnAltStatus{
    background-color: transparent;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
}
.LinkEditDespensa{
    text-decoration: none;
    color:black;
    font-size: 1rem;
    margin: 0.5rem;
}
.btnDelDespensa{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: 0.5rem;
}


