.ContainerDespesas{
    width: 15rem;
    height: 9rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    flex-direction: column;
}
.imagemDoCardCategoria{
    padding: 0;  
}
.nomeCategoria{
    font-size: 1.3rem;
    margin: 0.5rem 0 0 0 ;
}

.nomeImagemDespensa {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.btnTresOpt{
    margin-left: 9rem; 
    padding-right: 2rem;
    margin-top: 0.3rem;
    border: none;
    background-color: transparent;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}
.containerbtncartDespensa{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
}
.ulDespensa{
    padding: 10px;
    position: absolute;
    left: 15rem;
    top: 10rem; 
    list-style: none;
    background-color:  rgba(70, 236, 156, 0.2);
    width: 8rem;
    height: 7rem;
    padding: 10px;
}
.btnAltStatus{
    background-color: transparent;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
}
.LinkEditDespensa{
    text-decoration: none;
    color:black;
    font-size: 1rem;
    margin: 0.5rem;
}
.btnDelDespensa{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: 0.5rem;
}

