body {
    background-image:url("../../img/CorFundo.jpeg");
}

.Container {
    width: 100%;
    margin: 0 auto;    
}

.Container-Login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 70px;
    background: color #111;
}

header {
    background-image: url("../../img/7.jpg");
    position: absolute;
    width: 100px;
    height: 100px;
    left: 659px;
    top: 90px;
}

.top { 
    position: absolute;
    width: 245px;
    height: 67px;
    left: 590px;
    top: 300px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: inline-block;
    align-items: center;
    text-align: center;

    position: center;
    
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.mid {
    position: absolute;
    width: 244px;
    height: 63px;
    left: 590px;
    top: 350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: inline-block;
    align-items: center;
    text-align: center;


    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.connected {
    position: absolute;
    width: 244px;
    height: 39px;
    left: 590px;
    top: 410px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 20;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.75);
} 

.click {
    position:absolute;
    width: 200px;
    height: 84px;
    left: 610px;
    top: 480px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 40;
    font-size: 36px;
    line-height: 44px;
    display: center;
    align-items: center;
    text-align: center;

    color: #000000;
    border-radius: 10px;

}


.forgot {
    position: absolute;
    width: 292px;
    height: 68px;
    left: 574px;
    top: 600px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: center;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.66);

}


